@font-face {
  font-family: "Raleway-Regular";
  src: url("../assets/fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../assets/fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../assets/fonts/Raleway-Light.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("../assets/fonts/Raleway-Italic.woff") format("woff");
}
