main {
  .home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .contenu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      width: 100%;
      &__title {
        border: black 1px solid;
        height: 380px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        .letters {
          display: flex;
          flex-direction: column;
          margin-right: -40%;
          margin-bottom: -25%;
          img.t,
          .a-noir,
          .l {
            display: none;
          }

          img.b,
          .e,
          .a,
          .u,
          .x {
            height: 35px;
            margin-top: 15px;
          }

          img.b {
            animation: b-animation 1.5s 1 1.2s forwards ease-out;
            @keyframes b-animation {
              0% {
                transform: translateX(0);
              }
              100% {
                transform: translateX(-180%);
              }
            }
          }
        }
      }

      &__scroll {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;

        h4 {
          font-family: "Raleway-Regular";
          text-transform: uppercase;
          font-size: 12px;
        }
        img {
          margin-top: 5px;
          height: 45px;
          animation: scroll 0.4s ease-in alternate infinite;

          @keyframes scroll {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(5px);
            }
          }
        }
      }
    }
  }
}
