@mixin small {
  @media (min-width: 425px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1024px) {
    @content;
  }
}
@mixin Xlarge {
  @media (min-width: 1440px) {
    @content;
  }
}

/* animation lettre noir */

/*--- animation ---*/
$Nletter: t 1s, a-noir 2s, l 3s;

@each $letters, $delay in $Nletter {
  img.#{$letters} {
    animation: apparition 0.8s $delay linear backwards;
  }
  @keyframes apparition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/*--- keyrame ---*/

/* ----- Placement lettres BEAUX ----- */
